<!DOCTYPE html>
<html>
<head>
    <title>ISS Telemetry Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>ISS Telemetry Tracker</h1>

<div id="map"></div>

<div class="charts">
    <canvas id="altitudeChart"></canvas>
    <canvas id="longitudeChart"></canvas>
</div>

<script src="/static/script.js"></script>

</body>
</html>
